
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .body {
    padding: 0%;
    margin: 0%;
    align-content: center;
  }
  .profilepicture {
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    align-content: center;
  }
  .education {
    font-family: Impact;
    color: black;
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
  }
  .space {
    padding-bottom: 60px;
  }
  .explanation {
    font-family: Impact;
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .skills {
    font-family: Impact;
    color: black;
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 25px;
    text-align: center;
  }
  .list {
    font-family: Impact;
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .cardtext {
    font-family: Impact;
    color: black;
    font-size: 15px;
    text-align: left;
  }
  .cardtitle {
    font-family: Impact;
    color: black;
    font-size: 25px;
    text-align: center;
  }
  .work {
    font-family: Impact;
    color: black;
    font-size: 25px;
  }
  .contactme {
    font-family: Impact;
    color: black;
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .icon {
    font-size: 40px;
    margin: 20px;
  }
}
