.work {
  margin-top: 3rem;
}
.card {
  max-width: 100%;
  height: auto;
  margin-bottom: 3rem;
  vertical-align: middle;

}
.card-title {
  font-family: 'Fjalla One', sans-serif;
  padding-top: 0.5rem;
}
.card-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1rem;
}
.card-block {
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel-item {
    object-fit: contain;
    max-height: 32rem;
    width: auto;
    img {
      max-height: 100%;
      width: auto;
    }

}
.email {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
}
.icon {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3rem;
  margin: 0 1rem;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.icon :hover {
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}