.profilepicture {
  height: 650px;
  padding-top: 20px;
  padding-left: 240px;
  }
.profilepicture:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.carousel {
  height: 600px;
}
.carousel-item {
  height: 650px;
  width: auto;
  object-fit: contain;
}
.eye {
  height: 600px;
  float: right;
  border-radius: 5%;
}