.education {
  font-family: Impact;
  color: black;
  padding-top: 90px;
  margin-bottom: 60px;
  font-size: 50px;
  text-align: right;
}
.space {
  padding-bottom: 100px;
}
.explanation {
  font-family: Impact;
  color: black;
  font-size: 30px;
  text-align: right;
}
.skills {
  font-family: Impact;
  color: black;
  padding-top: 10px;
  margin-bottom: 60px;
  font-size: 50px;
  text-align: left;
}
.list {
  font-family: Impact;
  color: black;
  font-size: 30px;
  text-align: left;
}
.cardtext {
  font-family: Impact;
  color: black;
  font-size: 15px;
  text-align: left;
}
.cardtitle {
  font-family: Impact;
  color: black;
  font-size: 25px;
  text-align: center;
}
.work {
  font-family: Impact;
  color: black;
  font-size: 50px;
}
.contactme {
  font-family: Impact;
  color: black;
  padding-top: 10px;
  margin-bottom: 60px;
  font-size: 50px;
}
.icon {
  font-size: 50px;
  margin: 30px;
}