/*doc
---
title: Colors
name: colors
category: Basics
---
<div class="cf">
	<div class="doc-color-brand">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-base">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-primary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-secondary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-text">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-link">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-positive">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-negative">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-neutral">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-warning">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-info">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-special">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
</div>

*/
.image-container {
  overflow: hidden; }

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 3rem; }

.profilepicture {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s; }

.profilepicture:hover {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg); }

#diamond {
  border-radius: 0.8rem;
  opacity: 0.9;
  vertical-align: middle; }

.explanation h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  margin-top: 3.5rem;
  background-color: rgba(220, 20, 60, 0.6);
  border-radius: 0.5rem; }
.explanation p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3rem; }

html {
  font-family: 'Fjalla One', sans-serif; }

.background {
  background-image: url("../../assets/image/lines.jpeg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  margin: 0; }

@media only screen and (max-width: 320px) {
  html {
    font-size: 12px; } }
@media only screen and (max-width: 420px) {
  html {
    font-size: 13px; } }
@media only screen and (max-width: 480px) {
  html {
    font-size: 13px; } }
@media only screen and (min-width: 480px) {
  html {
    font-size: 14px; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }
.work {
  margin-top: 3rem; }

.card {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  vertical-align: middle; }

.card-title {
  font-family: 'Fjalla One', sans-serif;
  padding-top: 0.5rem; }

.card-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1rem; }

.card-block {
  background-color: rgba(0, 0, 0, 0.1); }

.email {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1rem;
  margin-top: 2rem; }

.icon {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3rem;
  margin: 0 1rem;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1); }

.icon :hover {
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5); }

.space {
  margin-top: 40px; }

.batn {
  margin-bottom: 1.5rem; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*# sourceMappingURL=style.css.map */
